@use 'colorgame';
@use 'gamelist';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$primary-color: #0D1121;
$font-color: #ffffff;
$h1-size: 63px;
$h2-size: 43px;
$h3-size: 25px;
$text-size: 16px;

body{
    background-color: $primary-color;
    padding: 20px;
    font-family: "Roboto", sans-serif;
}

h1{
    color: #ffb200;
    font-size: $h1-size;
}
h2{
    color: #ffffff;
    font-size: $h2-size;
}
h3{
    color: #ffffff;
    font-size: $h3-size;
}
p{
    color: #ffffff;
}

.progress{
    border: 3px solid #fff;
}

.text-black{
    color: #0D1121 !important;
}