
 .bg-green-400{
    background-color: #3B996D;
    padding: 10px;
    border-radius: 20px;
    height: 730px !important;
 }

 .bg-red-400{
    background-color: #FF5B5B;
    padding: 10px;
    border-radius: 20px;
    height: 730px !important;
 }
 .bg-orange-400{
    background-color:#ff8000 !important;
    padding: 10px;
    border-radius: 20px;
    height: 730px !important;
 }

 .color-red{
   color: #FF5B5B !important;
   font-weight: 700;
 }
 .heart{
    animation: tibok 1.5s infinite 3s ease;
}
@keyframes tibok{
    100%, 0%{
        transform:scale(1);
    }
    60%{
        transform:scale(1.03);
    }
}
@media (max-width: 640px)
 {
  .bg-green-400, .bg-red-400, .bg-orange-400 {
    height: auto;
  }
}
