
 .bg-green-400{
    background-color: #5BFFBD;
    padding: 10px;
    border-radius: 20px;
 }

 .bg-red-400{
    background-color: #FF5B5B;
    padding: 10px;
    border-radius: 20px;
 }

 .bg-orange-400{
    background-color: #ff870e;
    padding: 10px;
    border-radius: 20px;
 }