
 .bg-green-400{
    background-color: #3B996D;
    padding: 10px;
    border-radius: 20px;
 }

 .bg-red-400{
    background-color: #FF5B5B;
    padding: 10px;
    border-radius: 20px;
 }

 .bg-orange-400{
    background-color:#ff8000 !important;
    padding: 10px;
    border-radius: 20px;
 }